/* Background format and color */
body{
    background-color: #512D1E;
    margin: 0;
}

h1{
    font-family: arial, sans-serif;
}

/* main body section*/
main{
    text-align: center;
    color: white;
    width: 600px;
    margin: auto;
}

/* Images size and format */
.pics_ku{
    max-width: 80%;
    height: auto;
}

.logo_ku{
    max-width: 30%;
    height: auto;
}

/* Navigation Bar format */
nav{
    position: sticky;
    top: 0;
}

ul {
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    background-image: url("images/kulambda_logo.png");
    background-size: 50px auto;
    background-repeat: no-repeat;
    background-position: right;
    gap: 5px;
}

ul li{
    margin: 0;
}

ul li a{
    color: #643614;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 15px;
    display: block;
}

ul li a:hover{
    background-color: #643614;
    color: #FFFFFF;
}

ul li a.active{
    background-color: #643614;
    font-weight: bold;
    color: #FFFFFF;
}

/* Contact form link button*/
.contact a{
    background-color: #FFFFFF;
    color: #512D1E;
    padding: 30px 50px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    display: inline-block;
}

/* Footer design*/
footer{
    background-color: #E1C09D;
    color: #FFFFFF;
    text-align: center;
    padding: 12px;
}


/* Tablet size*/
@media (max-width: 1024px){
    ul{
        gap: 2px;
        background-size: 35px auto;
    }

    ul li a{
        font-size: 15px;
        padding: 12px 12px;
    }

    .logo_ku{
        max-width: 40%;
    }

}


