/* Background format and color */
body{
    background: linear-gradient(to bottom, #512D1E, #FFFFFF);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

/* Navigation Bar format */
.nav{
    width: auto;
    word-spacing: 20px;
    text-decoration: none;
    overflow: none;

}

.nav a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    padding: 14px 16px;
}

.nav a:hover{
    background-color: #E1C09D;
    color: #512D1E;
}

.nav a.active{
    background-color: #FFFFFF;
    color: #512D1E;
    opacity: 50%;
}