/* Background format and color */
body{
    background: linear-gradient(to bottom, #512D1E, #FFFFFF);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

/* Navigation Bar format */
.nav{
    width: auto;
    word-spacing: 20px;
    text-decoration: none;

}

.hav:hover{
    color: #E1C09D;
}