
*{
    box-sizing: border-box;
}

/* Background format and color */
body{
    background-color: #512D1E;
    margin: 0;
    font-family: sans-serif;
}

/* main body section*/
main{
    text-align: center;
    color: white;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.subtitle{
    font-style: italic;
}

/* Images size and format */
.pics_ku{
    max-width: 80%;
    height: auto;
}

.logo_ku{
    max-width: 30%;
    height: auto;
}

/* Navigation Bar format */
nav{
    position: sticky;
    top: 0;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    background-image: url("images/kulambda_logo.png");
    background-size: 50px auto;
    background-repeat: no-repeat;
    background-position: right;
    gap: 5px;
}

ul li{
    margin: 0;
}

ul li a{
    color: #643614;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 15px;
    display: block;
}

ul li a:hover{
    background-color: #643614;
    color: #FFFFFF;
}

ul li a.active{
    background-color: #643614;
    font-weight: bold;
    color: #FFFFFF;
}

/* Contact form link button*/
.contact a{
    background-color: #FFFFFF;
    color: #512D1E;
    padding: 30px 50px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    display: inline-block;
}

/* Footer design*/
footer{
    background-color: #E1C09D;
    color: #FFFFFF;
    text-align: center;
    padding: 12px;
}


/* Tablet size*/
@media (max-width: 1024px){
    ul{
        gap: 2px;
        background-size: 35px auto;
    }

    ul li a{
        font-size: 16px;
        padding: 12px 12px;
    }

    .logo_ku{
        max-width: 40%;
    }

    .contact a{
        padding: 24px 44px;
        font-size: 18px;
        border-radius: 12px;
    }

}

/* Phones size*/
@media (max-width: 600px) {
    main{
        font-size: 14px;
    }

    ul{
        flex-wrap: wrap;
        gap: 0;
        background-size: 30px auto;
        justify-content: center;
        background-image: none;
    }

    ul li a{
        font-size: 14px;
        padding: 10px 10px;
    }

    .logo_ku{
        max-width: 60%;
    }

    .contact a{
        padding: 18px 36px;
        font-size: 15px;
        border-radius: 12px;
        max-width: 200px;
    }

    footer{
        padding: 10px;
    }
}
